<div id="login">
    <form class="form" id="login-form" action="/login" method="POST">
        <p class="center-form form-title">Login</p>
        <p class="right-form">Username: <input type="text" name="username" class="form-input"></p>
        <p class="right-form">Password: <input type="password" name="password" class="form-input"></p>
        <p class="center-form"><input type="submit" value="Login" class="submit-button"></p>
    </form>
</div>