<nav>
    <section id = "nav-title">
        Dancing Server!
    </section>
    <section id = "nav-buttons">
        <button class = "nav-button" id="login-button">Log In</button>
        <button class = "nav-button" id="register-button">Register</button>
    </section>
</nav>