<form class="form" id="registration-form" action="/register" method="POST">
    <p class="center-form form-title">Register</p>
    <p class="right-form">Username: <input type="text" name="username" class="form-input"></p>
    <p class="right-form">Password: <input type="password" name="password" class="form-input"></p>
    <p class="right-form">First Name: <input type="text" name="firstName" class="form-input"></p>
    <p class="right-form">Last Name: <input type="text" name="lastName" class="form-input"></p>
    <p class="center-form"><input type="submit" value="Register" class="submit-button"></p>
</form>