<div id = "main">
    <%- include('../components/nav.ejs')%>
    <div id="sub-main-container-container">
        <div id="sub-main-container">
            <section id="sub-main">

            </section>
        </div>
    </div>  
</div>